@font-face {
    font-family: 'Pretendard';
    src: url('./images/Pretendard-Thin.woff') format('woff');
    font-weight: 100;
    font-display: swap;
    unicode-range: U+AC00-D7AF;
}



.harvey.show, .menuitem harvey1{
    visibility: visible;

}

.puple-america.show, .menuitem harvey1{
    visibility: visible;
}

a6.show, menuitem harvey1{
    visibility: visible;
}

.collage-text.show, menuitem harvey1{
    visibility: visible;
}

.page-hedaer{
    border: 1px solid black;
    border-style: none none solid none;
}

.frsit-frist-box{
    border: 1px solid black;
    border-style: solid none solid none;
    width: auto;
    height: 68px;
}

.first-box{
    width: 1280px;
    height: 68px;
    display: block;
    margin: auto;
}

.symbol{
    float: left;
    width: 70px;
    height: 68px;
    border: 1px solid black;
    border-style: none solid none solid;
}

.symbol-img{
    width: 46px;
    height: 41.91px;
    display: block;
    margin: auto;
    margin-top: 10px;
}

.emty-box01{
    display: inline-block;
    width: 698px;
    height: 68px;
    border: 1px solid black;
    border-style: none none none none;
}

.top-category{
    float: right;
    width: 512px;
    height: 68px;
    border: 1px solid black;
    border-style: none solid none solid;
}

.text-category{
    display: block;
    margin: 24px auto auto 54px;
}


.category-margin{
    margin-right: 40px;
    text-decoration: none;
    color: black;
}

.second-box{
    width: 1280px;
    height: 96px;
    border: 1px solid black;
    border-style: none solid none solid;
    display: flex;
    margin: auto;
}

.logo{
    height: 96px;
    width: 160px;
}

.logo-img{
    width: 113px;
    height: 55.49px;
    display: block;
    margin: auto;
    margin-top: 20px;
}

.explain-text{
    display: block;
    margin-right: 17px;
    padding-top: 30px;
}

.content{
    width: 1920px;
    height: 816px;
    /* display: block; */
    margin: auto;
    position: relative;
    z-index: 1;
    font-family: "Lato-Light", light;
}

.map{
    display: inline-block;
    width: 1380px;
    height: 816px;
    /* position: relative; */
    padding-top: 68px;
    /* padding-bottom: 680px;0\ */    
}

.basic-map{
    width: 1271.17px;
    height: 628px;
    /* left: 560px; */
    /* margin-bottom: 0px; */
    /* margin-bottom: 480px; */
    /* border: solid red 1px; */
    visibility: visible;
    position: absolute;
}

.puple-america {
    z-index: 1;
    position: absolute;
    width: 1271.17px;
    height: 628px;
    /* left: 56px; */
    /* bottom: 52px; */
    /* border: solid red 1px; */
    visibility: hidden;
}

.green-america {
    z-index: 1;
    position: absolute;
    width: 1271.17px;
    height: 628px;
    visibility: hidden;
}

.pink-america {
    z-index: 1;
    position: absolute;
    width: 1271.17px;
    height: 628px;
    visibility: hidden;
}

.orange-mexico {
    z-index: 1;
    position: absolute;
    width: 1271.17px;
    height: 628px;
    visibility: hidden;
}


.blue-america {
    z-index: 1;
    position: absolute;
    width: 1271.17px;
    height: 628px;
    /* left: 56px; */
    /* bottom: 52px; */
    /* border: solid red 1px; */
    visibility: hidden;
}

.pink-france {
    z-index: 1;
    position: absolute;
    width: 1271.17px;
    height: 628px;
    visibility: hidden;
}

.orange-france {
    z-index: 1;
    position: absolute;
    width: 1271.17px;
    height: 628px;
    visibility: hidden;
}

.orange-italy {
    z-index: 1;
    position: absolute;
    width: 1271.17px;
    height: 628px;
    visibility: hidden;
}

.orange-germany {
    z-index: 1;
    position: absolute;
    width: 1271.17px;
    height: 628px;
    visibility: hidden;
}

.green-germany {
    z-index: 1;
    position: absolute;
    width: 1271.17px;
    height: 628px;
    visibility: hidden;
}


.puple-netherland {
    z-index: 1;
    position: absolute;
    width: 1271.17px;
    height: 628px;
    visibility: hidden;
}

.puple-china {
    z-index: 1;
    position: absolute;
    width: 1271.17px;
    height: 628px;
    visibility: hidden;
}

.green-korea {
    z-index: 1;
    position: absolute;
    width: 1271.17px;
    height: 628px;
    visibility: hidden;
}

.pink-korea {
    z-index: 1;
    position: absolute;
    width: 1271.17px;
    height: 628px;
    visibility: hidden;
}

.orange-korea {
    z-index: 1;
    position: absolute;
    width: 1271.17px;
    height: 628px;
    visibility: hidden;
}

.blue-korea {
    z-index: 1;
    position: absolute;
    width: 1271.17px;
    height: 628px;
    visibility: hidden;
}

.puple-korea {
    z-index: 1;
    position: absolute;
    width: 1271.17px;
    height: 628px;
    visibility: hidden;
}

.green-australia {
    z-index: 1;
    position: absolute;
    width: 1271.17px;
    height: 628px;
    visibility: hidden;
}

.button01-title{
    position: absolute;
    margin: 20px 24px 20px 24px;
    font-size: 32px;
}

.collage{
    top: 0;
    display: inline-block;
    height: 816px;
    width: 501px;
    border: 1px solid black;
    border-style: none solid;
    background-color: #D9D9D9;
    position: absolute;
}

.collage-title{
    padding-top: 24px;
    width: 496px;
    height: 108px;
    border: 1px solid black;
    border-style: solid none none none;
    background-color: white;
    display: flex;
    position: relative;
    /* top: -50px; */
}

.collage-explain{
    padding-top: 14px;
    padding-left: 6px;
    width: 500px;
    height: 113px;
    border: 1px black solid;
    border-style: none solid none solid ;
    left: -1px;

    position: relative;
}



.collage-text{
    font-size: 20px;
    visibility: hidden;
}

.collage-text2{
    font-size: 20px;
    visibility: hidden;
}

.harvey {
    width: 498px;
    height: 706px;
    visibility: hidden;
    position: absolute;
}

.airplane-img{
    width: 498px;
    height: 706px;
    visibility: hidden;
    position: relative;
}

.pp-img {
    width: 498px;
    height: 706px;
    visibility: hidden;
    position: absolute;
}

.symbol-texture{
    width: 498px;
    height: 706px;
    position: absolute;
}


.text-position{
    position: absolute;

    margin-left: 8px;
    font-size: 60px;
    visibility: hidden;
    display: flex;

    text-transform: uppercase;
}


.first-box-box{
    border: 1px solid black;
    height: 113px;
    width: 1280px;
    display: block;
    margin: auto;
    border-style: none none none solid;

    position: relative;
}

.bottom{
    width: 100vw;
    height: 113px;
    border: 1px solid black;
    border-style: solid none solid none;
}

#button01 {
    z-index: 2;
    position: absolute;
    width: 184px;
    height: 78px;
    top: 264px;
    left: 338px;
    padding: 0;
    margin: 0;
    background-color: white;
    border: 1px solid black;
}

#target01 {
    display: none;
    position: relative;
    width: 184px;
    top: 74px;
    left: -1px;
    padding: 16px 0;
    background-color: white;
    border: 1px solid black;
    border-style: none solid solid solid;
    
}

#button02{
    z-index: 2;
    position: absolute;
    width: 252px;
    height: 78px;
    top: 88px;
    left: 600px;
    padding: 0;
    margin: 0;
    background-color: white;
    border: 1px solid black;
}

#target02 {
    display: none;
    position: relative;
    width: 252px;
    top: 74px;
    left: -1px;
    padding: 16px 0;
    background-color: white;
    border: 1px solid black;
    border-style: none solid solid solid;
}

#button03{
    z-index: 2;
    position: absolute;
    width: 168px;
    height: 78px;
    top: 430px;
    left: 10px;
    padding: 0;
    margin: 0;
    background-color: white;
    border: 1px solid black;
}

#target03 {
    display: none;
    position: relative;
    width: 168px;
    top: 74px;
    left: -1px;
    padding: 16px 0;
    background-color: white;
    border: 1px solid black;
    border-style: none solid solid solid;
}

#button04{
    z-index: 2;
    position: absolute;
    width: 125px;
    height: 78px;
    top: 385px;
    left: 494px;
    padding: 0;
    margin: 0;
    background-color: white;
    border: 1px solid black;
}

#target04 {
    display: none;
    position: relative;
    width: 125px;
    top: 74px;
    left: -1px;
    padding: 16px 0;
    background-color: white;
    border: 1px solid black;
    border-style: none solid solid solid;
}

#button05 {
    z-index: 2;
    position: absolute;
    width: 200px;
    height: 78px;
    top: 209px;
    left: 721px;
    padding: 0;
    margin: 0;
    background-color: white;
    border: 1px solid black;
}

#target05 {
    display: none;
    position: relative;
    width: 200px;
    top: 74px;
    left: -1px;
    padding: 16px 0;
    background-color: white;
    border: 1px solid black;
    border-style: none solid solid solid;
}
#button06 {
    z-index: 2;
    position: absolute;
    width: 169px;
    height: 78px;
    top: 143px;
    left: 372px;
    padding: 0;
    margin: 0;
    background-color: white;
    border: 1px solid black;
}

#target06 {
    display: none;
    position: relative;
    width: 169px;
    top: 74px;
    left: -1px;
    padding: 16px 0;
    background-color: white;
    border: 1px solid black;
    border-style: none solid solid solid;
}
#button07 {
    z-index: 2;
    position: absolute;
    width: 146Px;
    height: 78px;
    top: 405px;
    left: 882px;
    padding: 0;
    margin: 0;
    background-color: white;
    border: 1px solid black;
}

#target07 {
    display: none;
    position: relative;
    width: 146px;
    top: 74px;
    left: -1px;
    padding: 16px 0;
    background-color: white;
    border: 1px solid black;
    border-style: none solid solid solid;
}

#button08 {
    z-index: 2;
    position: absolute;
    width: 208Px;
    height: 78px;
    top: 446px;
    left: 1136px;
    padding: 0;
    margin: 0;
    background-color: white;
    border: 1px solid black;
}

#target08 {
    display: none;
    position: relative;
    width: 208px;
    top: 74px;
    left: -1px;
    padding: 16px 0;
    background-color: white;
    border: 1px solid black;
    border-style: none solid solid solid;
}

.button09-title{
    position: absolute;
    margin: 20px 89px 20px 89px;
    font-size: 32px;
}

#button09 {
    z-index: 2;
    position: absolute;
    width: 280Px;
    height: 78px;
    top: 172px;
    left: 1095px;
    padding: 0;
    margin: 0;
    background-color: white;
    border: 1px solid black;
}

#target09 {
    display: none;
    position: relative;
    width: 140px;
    top: 74px;
    left: -1px;
    padding: 16px 0;
    background-color: white;
    border: 1px solid black;
    border-style: none none solid solid;
}

#target10 {
    display: none;
    position: absolute;
    width: 140px;
    top: 74px;
    left: 139px;
    padding: 16px 0;
    background-color: white;
    border: 1px solid black;
    border-style: none solid solid none;
    padding-bottom: 64px;
}

.menuitem {
    z-index: 3;
    margin: 8px 0px 8px 0px;
    padding: 8px 0;
    text-align: center;
}
.menuitem > a {
    text-decoration: none;
    color: black;
}
.menuitem > a:hover {
    text-decoration: underline;
    color: white;
}

.harvey1:hover>.harvey{
    visibility: visible;
} 

.harvey1:hover {
    background-color: #CCAEDA;
}

.pp{
    position: absolute;
}

.npp{
    font-size: 20px;
    visibility: hidden;
    position: absolute;
}