.airplane-img.show, .menuitem airplane{
    visibility: visible;
}

.blue-america.show, .menuitem airplane{
    visibility: visible;

}

a7.show, menuitem airplane{
    visibility: visible;
}

.collage-text2.show, menuitem airplane{
    visibility: visible;
}

.airplane:hover>.airplane-img{
    visibility: visible;
} 

.airplane:hover {
    background-color: #A6C6ED;
}

/* 인공수정 */

.artificial-img.show, .menuitem artificial{
    visibility: visible;
}

.blue-america.show, .menuitem artificial{
    visibility: visible;

}

a8.show, menuitem artificial{
    visibility: visible;
}

.collage-text3.show, menuitem artificial{
    visibility: visible;
}

.artificial:hover>.artificial-img{
    visibility: visible;
} 

.artificial:hover {
    background-color: #A6C6ED;
}
/* 유색인종버스 */
.bus-img.show, .menuitem bus{
    visibility: visible;
}

.green-america.show, .menuitem bus{
    visibility: visible;

}

a9.show, menuitem bus{
    visibility: visible;
}

.collage-text4.show, menuitem bus{
    visibility: visible;
}

.bus:hover>.bus-img{
    visibility: visible;
} 

.bus:hover {
    background-color: #B0D8A3;
}

/* 닐 암스트롱 */
.neil-img.show, .menuitem neil{
    visibility: visible;
}

.blue-america.show, .menuitem neil{
    visibility: visible;

}

a10.show, menuitem neil{
    visibility: visible;
}

.collage-text5.show, menuitem neil{
    visibility: visible;
}

.neil:hover>.neil-img{
    visibility: visible;
} 

.neil:hover {
    background-color: #A6C6ED;
}

/* 여성 우주비행사 */
.fu-img.show, .menuitem ffa{
    visibility: visible;
}

.pink-america.show, .menuitem ffa{
    visibility: visible;

}

a11.show, menuitem ffa{
    visibility: visible;
}

.collage-text6.show, menuitem ffa{
    visibility: visible;
}

.ffa:hover>.fu-img{
    visibility: visible;
} 

.ffa:hover {
    background-color: #EEA6D6;
}

/* 흑인 대통령 */
.obama-img.show, .menuitem obama{
    visibility: visible;
}

.green-america.show, .menuitem obama{
    visibility: visible;

}

a12.show, menuitem obama{
    visibility: visible;
}

.collage-text7.show, menuitem obama{
    visibility: visible;
}

.obama:hover>.obama-img{
    visibility: visible;
} 

.obama:hover {
    background-color: #B0D8A3;
}

/* 알비노 모델 */
.albino-img.show, .menuitem vitiligo{
    visibility: visible;
}

.green-america.show, .menuitem vitiligo{
    visibility: visible;

}

a13.show, menuitem vitiligo{
    visibility: visible;
}

.collage-text8.show, menuitem vitiligo{
    visibility: visible;
}

.vitiligo:hover>.albino-img{
    visibility: visible;
} 

.vitiligo:hover {
    background-color: #B0D8A3;
}

/* 가상 화폐 */
.harvey.show, .menuitem bit{
    visibility: visible;
}

.green-america.show, .menuitem bit{
    visibility: visible;

}

a6.show, menuitem bit{
    visibility: visible;
}

.collage-text.show, menuitem bit{
    visibility: visible;
}

.bit:hover>.harvey{
    visibility: visible;
} 

.bit:hover {
    background-color: #A6C6ED;
}

/* 백점프 */
.back-img.show, .menuitem jump{
    visibility: visible;
}

.orange-mexico.show, .menuitem jump{
    visibility: visible;

}

a14.show, menuitem jump{
    visibility: visible;
}

.collage-text9.show, menuitem jump{
    visibility: visible;
}

.jump:hover>.back-img{
    visibility: visible;
} 

.jump:hover {
    background-color: #F1B782;
}

/* 여성바지 */
.pants-img.show, .menuitem pants{
    visibility: visible;
}

.pink-france.show, .menuitem pants{
    visibility: visible;

}

a15.show, menuitem pants{
    visibility: visible;
}

.collage-text10.show, menuitem pants{
    visibility: visible;
}

.pants:hover>.pants-img{
    visibility: visible;
} 

.pants:hover {
    background-color: #EEA6D6;
}

/* 큐비즘 피카소 */
.picaso-img.show, .menuitem picaso{
    visibility: visible;
}

.orange-france.show, .menuitem picaso{
    visibility: visible;

}

a16.show, menuitem picaso{
    visibility: visible;
}

.collage-text11.show, menuitem picaso{
    visibility: visible;
}

.picaso:hover>.picaso-img{
    visibility: visible;
} 

.picaso:hover {
    background-color: #F1B782;
}

/* 패럴림픽 */
.po.show, .menuitem Paralympic{
    visibility: visible;
}

.orange-italy.show, .menuitem Paralympic{
    visibility: visible;

}

a17.show, menuitem Paralympic{
    visibility: visible;
}

.collage-text12.show, menuitem Paralympic{
    visibility: visible;
}

.Paralympic:hover>.po{
    visibility: visible;
} 

.Paralympic:hover {
    background-color: #F1B782;
}

/* 동성애 결혼 */
.gay-img.show, .menuitem gay{
    visibility: visible;
}

.puple-netherland.show, .menuitem gay{
    visibility: visible;

}

a18.show, menuitem gay{
    visibility: visible;
}

.collage-text13.show, menuitem gay{
    visibility: visible;
}

.gay:hover>.gay-img{
    visibility: visible;
} 

.gay:hover {
    background-color: #CCAEDA;
}

/* 베를린 장벽 */
.wall-img.show, .menuitem fall{
    visibility: visible;
}

.green-germany.show, .menuitem fall{
    visibility: visible;

}

a19.show, menuitem fall{
    visibility: visible;
}

.collage-text14.show, menuitem fall{
    visibility: visible;
}

.fall:hover>.wall-img{
    visibility: visible;
} 

.fall:hover {
    background-color: #B0D8A3;
}

/* 차범근 */
.cha-img.show, .menuitem cha{
    visibility: visible;
}

.orange-germany.show, .menuitem cha{
    visibility: visible;

}

a20.show, menuitem cha{
    visibility: visible;
}

.collage-text15.show, menuitem cha{
    visibility: visible;
}

.cha:hover>.cha-img{
    visibility: visible;
} 

.cha:hover {
    background-color: #F1B782;
}

/* 코로나 */
.covid-img.show, .menuitem covid{
    visibility: visible;
}

.puple-china.show, .menuitem covid{
    visibility: visible;

}

a21.show, menuitem covid{
    visibility: visible;
}

.collage-text16.show, menuitem covid{
    visibility: visible;
}

.covid:hover>.covid-img{
    visibility: visible;
} 

.covid:hover {
    background-color: #CCAEDA;
}

/* 닉부이 치치 */
.nick-img.show, .menuitem nick{
    visibility: visible;
}

.green-australia.show, .menuitem nick{
    visibility: visible;

}

a22.show, menuitem nick{
    visibility: visible;
}

.collage-text17.show, menuitem nick{
    visibility: visible;
}

.nick:hover>.nick-img{
    visibility: visible;
} 

.nick:hover {
    background-color: #B0D8A3;
}

/* 이화 학당 */
.ewha-img.show, .menuitem ewha{
    visibility: visible;
}

.green-korea.show, .menuitem ewha{
    visibility: visible;

}

a23.show, menuitem ewha{
    visibility: visible;
}

.collage-text18.show, menuitem ewha{
    visibility: visible;
}

.ewha:hover>.ewha-img{
    visibility: visible;
} 

.ewha:hover {
    background-color: #B0D8A3;
}

/* 대한민국최초여성국회의원 */
.ff-img.show, .menuitem fna{
    visibility: visible;
}

.pink-korea.show, .menuitem fna{
    visibility: visible;

}

a24.show, menuitem fna{
    visibility: visible;
}

.collage-text19.show, menuitem fna{
    visibility: visible;
}

.fna:hover>.ff-img{
    visibility: visible;
} 

.fna:hover {
    background-color: #EEA6D6;
}

/* 대한민국 최초 여성 치마 */
.first-skirt.show, .menuitem skirt{
    visibility: visible;
}

.piink-korea.show, .menuitem skirt{
    visibility: visible;

}

a25.show, menuitem skirt{
    visibility: visible;
}

.collage-text20.show, menuitem skirt{
    visibility: visible;
}

.skirt:hover>.first-skirt{
    visibility: visible;
} 

.skirt:hover {
    background-color: #EEA6D6;
}