body {
    margin: 0;
    overflow: hidden;
}

#container2 {
    position: relative;
    width: 100%;
    height: 100vh;
    cursor: grab;
    overflow: hidden;
}

.sub-container {
    width: 5000px; /* 이미지의 너비를 조절할 수 있습니다. */
    height: 100%;
    user-select: none;
    /* border: solid 4px red; */
    background-color: black;
    position: relative;
}
.box1 a{
    width: 240px;
    height: 300px;
    padding: 8px;
    margin-left: 60px;
    margin-top: 30px;
    /* border: solid 4px red; */
    justify-content: center;
    align-items: center;
    display: flex;
}

.box1 a>img {
    width: 100%;
}
.box2 a{
    width: 240px;
    height: 300px;
    padding: 8px;
    margin-left: 60px;
    margin-top: 30px;
    /* border: solid 4px red; */
    justify-content: center;
    align-items: center;
    display: flex;
}

.box2 a>img {
    width: 100%;
}
.box3 a{
    width: 240px;
    height: 300px;
    padding: 8px;
    margin-left: 60px;
    margin-top: 30px;
    /* border: solid 4px red; */
    justify-content: center;
    align-items: center;
    display: flex;
}

.box3 a>img {
    width: 100%;
}
.box4 a{
    width: 240px;
    height: 300px;
    padding: 8px;
    margin-left: 60px;
    margin-top: 30px;
    /* border: solid 4px red; */
    justify-content: center;
    align-items: center;
    display: flex;
}

.box4 a>img {
    width: 100%;
}
.box5 a{
    width: 240px;
    height: 300px;
    padding: 8px;
    margin-left: 60px;
    margin-top: 30px;
    /* border: solid 4px red; */
    justify-content: center;
    align-items: center;
    display: flex;
}

.box5 a>img {
    width: 100%;
}
.box6 a{
    width: 240px;
    height: 300px;
    padding: 8px;
    margin-left: 60px;
    margin-top: 30px;
    /* border: solid 4px red; */
    justify-content: center;
    align-items: center;
    display: flex;
}

.box6 a>img {
    width: 100%;
}
.box7 a{
    width: 240px;
    height: 300px;
    padding: 8px;
    margin-left: 60px;
    margin-top: 30px;
    /* border: solid 4px red; */
    justify-content: center;
    align-items: center;
    display: flex;
}

.box7 a>img {
    width: 100%;
}
.box1 {
    width: 100%;
    height: 400px;
    background-color: rgb(255, 255, 255);
    display: flex;
    /* border: solid 4px red; */
    position: relative;
}
.box2{
    width: 100%;
    height: 400px;
    background-color: rgb(255, 255, 255);
    display: flex;
    /* border: solid 4px red; */
    position: relative;
}
.box3{
    width: 100%;
    height: 400px;
    background-color: rgb(255, 255, 255);
    display: flex;
    /* border: solid 4px red; */
    position: relative;
}
.box4{
    width: 100%;
    height: 400px;
    background-color: rgb(255, 255, 255);
    display: flex;
    /* border: solid 4px red; */
    position: relative;
}
.box5{
    width: 100%;
    height: 400px;
    background-color: rgb(255, 255, 255);
    display: flex;
    /* border: solid 4px red; */
    position: relative;
}
.box6{
    width: 100%;
    height: 400px;
    background-color: rgb(255, 255, 255);
    display: flex;
    /* border: solid 4px red; */
    position: relative;
}
.box7{
    width: 100%;
    height: 400px;
    background-color: rgb(255, 255, 255);
    display: flex;
    /* border: solid 4px red; */
    position: relative;
}
.navi{
    width: auto;
    height: auto;
    border-bottom: 1px solid #000000;
    background-color: #ffffff;
    display: flex;
}
.sub1 {
    margin: 0px;
    width: 20%;
    height: 60px;
    border-right: 1px solid #000000;
    background-color: #ffffff;


}

.sub2 {

    width: 60%;
    height: 60px;
    border-right: 1px solid #000000;
    background-color: #ffffff;
    display: flex;

}

.sub2-1 {
    width: 56%;
    height: 60px;
    border-right: 1px solid #000000;
    background-color: #ffffff;

}

.pic2 a{
    width: 50px;
    height: 50px;
    padding: 6px;
    /* border: solid 4px red; */
    justify-content: center;
    align-items: center;
    display: flex;
}

.pic2 a>img {
    width: 100%;

}

.sub2-2 {

    width: 60px;
    height: 60px;
    border-right: 1px solid #000000;
    background-color: none;
    display: flex;

}

.sub2-3 {
    width: 44%;
    height: 60px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;

}

.sub2-3 a {
    font-size: 14px;
    padding: 16px;
    box-sizing: border-box;
    text-decoration: none;
    color: #000000;
    font-family: 'Lato', sans-serif;

}

.sub3 {

    width: 20%;
    height: 60px;

    background-color: #ffffff;

}
.sub4 {

    width: 20%;
    height: 60px;
    border-right: 1px solid #000000;
    background-color: #ffffff;


}

.sub5{
    width: 60%;
    height: 60px;
    border-right: 1px solid #000000;
    background-color: #ffffff;
}
.sub5-2 {

    width: 100%;
    height: 60px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    



}

.sub5-2 a {
    font-size: 14px;
    box-sizing: border-box;
    text-decoration: none;
    color: #000000;
    font-family: 'Lato', sans-serif;

}

.pic3 {
    width: 70px;
    height: 50px;
    padding: 16px;
    margin-top: 16px;
}

.pic3>img {
    width: 100%;

}


* {
    margin: 0;
    padding: 0;
    
}

body{
    overflow-x: hidden;
    overflow-y: hidden;
    padding-bottom: 56.25%;
}


.sub-text {
    
    position: absolute;
    top: 44%;
    transform: translate(-50%);
    width: 80%;
    left: 50%;
    text-align: center;
    font-family: 'Lato', sans-serif;;

}
@media(min-width:600px){
    .sub-text{
        display: none;
    }
}
.sub2-text {
    
    position: absolute;
    top: 44%;
    transform: translate(-50%);
    width: 80%;
    left: 50%;
    text-align: center;
    font-family: 'Lato', sans-serif;;

}
@media(min-width:1150px){
    .sub2-text{
        display: none;
    }
}
@media(max-width:600px){
    .sub2-text{
        display: none;
    }
}
@font-face {
    font-family: 'Pretendard';
    src: url('./images/Pretendard-Thin.woff') format('woff');
    font-weight: 100;
    font-display: swap;
    unicode-range: U+AC00-D7AF;
}

.a {
    text-decoration: none;
    color: #fff;
}


.container {
    width: auto;
    height: auto;
    border-bottom: 1px solid #000000;
    background-color: #ffffff;
    display: flex;
}

.item1 {
    margin: 0px;
    width: 20%;
    height: 60px;
    border-right: 1px solid #000000;
    background-color: #ffffff;

}

.item2 {

    width: 60%;
    height: 60px;
    border-right: 1px solid #000000;
    background-color: #ffffff;
    display: flex;

}

.item2-1 {
    width: 56%;
    height: 60px;
    border-right: 1px solid #000000;
    background-color: #ffffff;

}

.pic a {
    width: 50px;
    height: 50px;
    padding: 8px;
}

.pic a>img {
    width: 100%;

}

.item2-2 a {

    width: 60px;
    height: 60px;
    border-right: 1px solid #000000;
    background-color: none;
    display: flex;

}
.item2-2 a>img {
    width: 100%;
    padding: 8px;
}

.item2-3 {
    width: 26vw;
    height: 60px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    

}

.item2-3 a {
    font-size: 12px;
    padding: 16px;
    box-sizing: border-box;
    text-decoration: none;
    color: #000000;
    font-family: 'Lato', sans-serif;

}

.item3 {

    width: 20%;
    height: 60px;

    background-color: #ffffff;

}
@media (max-width:1600px){
    .item2-3 {
        width: 26vw;
        height: 60px;
        background-color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        
    
    }
    .item2-3 a {
        font-size: 11px;
        padding: 13px;
        box-sizing: border-box;
        text-decoration: none;
        color: #000000;
        font-family: 'Lato', sans-serif;
    
    }
    

}


.item4 {

    width: 60%;
    height: 60px;
    border-right: 1px solid #000000;
    background-color: #ffffff;


}


.item4-2 {

    width: 100%;
    height: 60px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;



}

.item4-2 a {
    font-size: 14px;
    box-sizing: border-box;
    text-decoration: none;
    color: #000000;
    font-family: 'Lato', sans-serif;

}

.pic1 {
    width: 80px;
    height: 50px;
    padding: 16px;
    margin-top: 16px;
}

.pic1>img {
    width: 100%;

}

@media (max-width:1150px){
    .container{
        display: none;
    }
}
@media (max-width:1150px){
    .sub-container{
        display: none;
    }
}